header {
	height: 22vh;
	text-align: center;
	display: flex;
    flex-direction: column;       
    align-items: center;
}
.logo {
	width: 150px;
	margin-top: 10px;
    align-self: flex-start;
}
#hamburger, #close {
	display: none;
}
header nav {
    width: 50%;
}
header nav ul {
	position: absolute;
	top: 35px;
}
header nav ul li {
	display: inline;
	list-style-type: none;
	text-align: center;
	font-size: 14px;
	padding: 10px;
	margin: 10px;
}
header nav ul li:hover {
	background-color: #41BA38;
	border-bottom: 2px solid #1C8314;
	transform: scale(1.5);
}
header nav ul li:hover a {
	color: #fff;
}
header nav ul li a {
	color: #000;
	text-decoration: none;
}
@media only screen and (max-width: 900px) {
	header nav ul li {
	    padding: 5px 0px;
	    margin: 5px;
	}
}
@media only screen and (max-width: 700px) {
	nav ul{
		display: none;
	}
	header nav {
		width: 95%;
	}
	.mobile {
		display: block;
	    position: absolute;
	    left: 0px;
	    top: 150px;
	    z-index: 10;
	    width: 100%;
	    border-radius: 5px;
	    background-color: #fff;;
	}
	.mobile li{
		display: block;
	    text-align: center;
	    margin: 5px 10% 10px;
	    padding: 10px 15px;
	}
	.mobile li:hover {
		border: none;
	}
	.mobile li:hover a {
		font-size: 12px;
	}
	#hamburger {
		display: inline;
	    position: absolute;
	    right: 0;
	    margin: 30px 10px 0 0;
	}
	.closeButton {
		margin: 30px 20px;
		display: inline;
	    position: absolute;
	    right: 0;
	}
}